.pokedex-detail-container {
    background-color: #F44C43;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.containerLinea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.evolution-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.evolution-line img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.pokeInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
}
.imageDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
}
.evolution-arrow {
    font-size: 24px;
    margin: 0 10px;
}


.pokemon-main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}


.pokemon-name {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.pokemon-name a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.pokemon-name a:hover {
    text-decoration: underline;
}
